<div class="row">
    <div class="col-sm-8">
        <label class="control-label pull-left">
            Registros por página:
        </label>
        <div class="col-md-2">
            <select class="form-control pull-left select-qtde-paginas" name="registro-pagina" ng-model="modelPage">
                <option ng-value="10">10</option>
                <option ng-value="20">20</option>
                <option ng-value="50">50</option>
                <option ng-value="100">100</option>
            </select>
        </div>
    </div>
    <div class="col-sm-4 text-right">
        Mostrando:
        <strong>{{ vm.filtro.pagination.start+1 | number:0 }}-{{ vm.calculaUltimoItem() | number:0 }}</strong>
        de <strong>{{ vm.filtro.pagination.totalItemCount | number:0 }}</strong> itens.
    </div>
</div>