﻿<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            <i class="fa fa-list"></i>
            Tabela Teste Summary
        </h3>
    </div>
    <div class="panel-body">
        <ngf-summary filtro="vm.filtroTabela" model-page="vm.registrosPagina"></ngf-summary>
        
        <div st-pipe="vm.initListaFiltro" st-table="vm.listarResultado" class="table-grid table-responsive">
            <table id="dataTable" class="table table-hover">
                <thead>
                    <tr>
                        <th>Coluna 1</th>
                        <th>Coluna 2</th>
                        <th>Coluna 3</th>
                        <th>Coluna 4</th>
                        <th>Coluna 5</th>
                        <th>Coluna 6</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="pointer" ng-repeat="item in vm.listarResultado">
                        <td>{{item.Id}}</td>
                        <td>{{item.Nome}}</td>
                        <td>{{item.Nome}}</td>
                        <td>{{item.Nome}}</td>
                        <td>{{item.Nome}}</td>
                        <td>{{item.Nome}}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="10">
                            <div class="text-center" st-pagination="" st-items-by-page="vm.registrosPagina" st-template=""></div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>